.container{
    width: 800px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr  1fr 1fr; 
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  1fr 1fr;
   
    border: 5px solid black;
}
.white{
    background-color: #f0d9b5;
    height: 100px;
    width:100px;
}
.black{
    background-color: #b58863;
    height:100px;
    width:100px;
}
p{
    text-align: center;
    font-size: 1.5rem;
}
@media(max-width:600px)
{
    .container{
        height: 100%;
      flex-direction: column;
    }
}